* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6f4d94, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #2575fc;
    object-fit: cover;
    margin-bottom: 20px;
}
.titulo-principal {
    color: black;
    font-family: 'Segoe UI'
}

.subtitulo {
    font-size: 14px;
    color: #2575fc;
    margin-bottom: 15px;
    margin-top: 5px;
}

.texto-descricao {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}
.habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}
.habilidades li {
    list-style: none;
    background-color: aliceblue;
    padding: 8px 15px;
    border-radius: 50px;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    font-family: Arial
}
.botao {
    background: linear-gradient(135deg, #55416b, #3e82f7);
    padding: 8px 15px;
    border-radius: 50px;
    border: 2px solid #000000;
    color: rgb(241, 239, 239);
    text-decoration: none;
}


